---
import Layout from "../layouts/Layout.astro";

---


<Layout title="Axel Code Portfolio - About">
	<main class="min-h-[400vh]">
		<h1 class="text-4xl font-bold">About</h1>
		<p class="text-xl">This is the about page</p>
	</main>
</Layout>
