---
import Layout from '@layouts/Layout.astro';

import { getProjects } from '@lib/api';

const projects = await getProjects();


---

<Layout title="Axel Code Porfolio - Home" >
	<main data-scroll-section class="container">
		work page
	</main>
</Layout>