---
import classNames from 'classnames';

import { Image } from 'astro:assets';
import NavItem from './nav-item';

const paragraph = classNames({
		'text-2xl': true,
		'font-body': true,
		'text-title': true,
	});

	const links = [
		{
			slug: 'works',
			title: 'Works', 
		},
		{
			slug: 'about',
			title: 'About', 
		},
		{
			slug: 'contact',
			title: 'Contact', 
		},
	];

	const strToUrl = (str:string) => `/${ str.replace(' ', '') }`;

---


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<nav class="flex justify-between items-center space-x-4 my-8 container max-h-[67px]">
		<ul class="flex justify-between min-w-[50%]">
			<li class="flex items-center p-4 hover:cursor-pointer hover:bg-white hover:rounded-full hover:transition-all  hover:ease-in-out hover:delay-150 hover:duration-600">
				<a
					href="/"
				>
					<Image
						alt="logo"
						class="object-contain"
						width={48}
						height={48}
						src="/images/svg/Logo_36x36.svg"
					/>
				</a>
			</li>
			<button
				class={ classNames({ 'hidden': true }) }
				type="button"
			>Menu
			</button>
			
			<button type="button">Close</button>

			{ links.map((link) => (
				<li
					class="flex items-center gap-2"
				>
					<NavItem
						dataLetters={ link.title }
						to={ strToUrl(link.slug) }
					>
						{ link.title }
					</NavItem>
				</li>
			)) }
		</ul>

		<div class="flex items-center gap-2">
			<p class={ paragraph }>Freelance</p>
			<p class={ paragraph }>Brussels, Be</p>
		</div>
		
		
	</nav>
</body>
</html>
