---
import { Image } from 'astro:assets';
---
		<section class="flex items-center gap-9">
			<div class="flex bg-white p-4 rounded-full">
				<Image
					alt="About"
					width={36}
					height={36}
					src="/images/svg/Logo_36x36.svg"
				/>
			</div>

			<h1 class="text-6xl text-title">About <span class="italic">Me</span></h1>
					
		</section>
